/* font-family: 'PT Sans', sans-serif; */
@import url(http://fonts.googleapis.com/css?family=PT+Sans);

/*Normalize*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	font-family: "맑은 고딕", "malgun gothic", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic",  "Droid sans", "sans-serif";
}
body{
	font-size: 0.75em;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: top;
}
input{
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */
.hidden {
	display: none !important;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
	Author's custom styles
	table of contents

	1. common
		1-a. button
		1-b. checkbox, radio
		1-c. canvas-off
		1-d. slider - bxSlider style custom
		1-e. label, badge
		1-f. store item view - wide
		1-g. star
	2. layout
		2-a. header
		2-b. footer
	3. page - login
		3-2. page - password find
	4. page - main
   ========================================================================== */
/*
 * 1. common
 **************************************/
img{
	max-width:100%;
}
section{margin:0;}
div, input, select{
	box-sizing: border-box;
}
.common_bg{
	display: inline-block;
	overflow: hidden;
	background: url(../img/common.png) no-repeat;
	background-size: 250px;
	text-indent: -9999px;
}
input, select{
	width: 100%;
}
ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p, fieldset, button, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

button {
  overflow: visible;
  border: 0;
  background-color: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"] {
  box-sizing: border-box;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border: 1px solid #d5d5d5;
  font-size: 14px;
  font-size: 1.4rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #d5d5d5;
}

legend {
  position: absolute;
  top: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

select {
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 8px;
  border: 1px solid #cbcbcb;
  line-height: 26px;
}
/*플레이스홀더*/
.placeholder_wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.placeholder_wrap .placeholder {
  z-index: 1;
  position: absolute;
  top: 11px;
  left: 12px;
}
.placeholder_wrap input {
  position: relative;
  z-index: 2;
  background-color: transparent;
}

/*
 * 1-a. button
 */
.button_flat{
	width: 100%;
	height: 50px;
	border: 0;
	background-color: #9e5cd8;
	color: #fff;
	text-align: center;
	font-size: 1.667em;
	font-weight: 500;
	line-height: 50px;
}
.button_round{
	display: inline-block;
	padding: 8px 22.5px;
	border: 1px solid #fff;
	border-radius: 17px;
	background-color: transparent;
	color: #fff;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
}

/*
 * 1-b. checkbox, radio
 */
.dcheck {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.dcheck input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 0 none;
  width: 16px;
  height: 16px;
}
.dcheck label {
  display: inline-block;
}
.dcheck label em {
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background: url(../img/design_input.png) no-repeat 0 0;
  background-size: 25px 250px;
}
.dcheck.checked label em {
  background-position: 0px -17px;
}

.dradio {
  display: inline-block;
  position: relative;
  height: 22px;
}
.dradio input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 0 none;
  width: 21px;
  height: 21px;
}
.dradio label {
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.dradio label span {
  display: inline-block;
  float: left;
  margin: 0 8px 0 0;
  width: 21px;
  height: 21px;
  margin-right: 5px;
  background: url(../img/design_input.png) no-repeat -100px -400px;
}
.dradio.checked label span {
  background-position: -150px -400px;
}

.dradio.other label span {
  width: 22px;
}
.dradio.other.checked label span {
  background-position: -200px -400px;
}

.dradio.other2 label span {
  background: url(../img/design_input.png) no-repeat 1px -439px;
}
.dradio.other2.checked label span {
  background-position: -49px -439px;
}

/*
 * 1-c. canvas-off
 */
.canvas_off_wrap{
	overflow: hidden;
}
.canvas_off_main{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-tansform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-tansform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}
.canvas_off_wrap.show_content .canvas_off_main{
	-webkit-transform: translateX(-100%) !important;
	-moz-transform: translateX(-100%) !important;
	-o-tansform: translateX(-100%) !important;
	-ms-transform: translateX(-100%) !important;
	transform: translateX(-100%) !important;
	-webkit-transform: translate3d(-100%, 0, 0) !important;
	-moz-transform: translate3d(-100%, 0, 0) !important;
	-o-tansform: translate3d(-100%, 0, 0) !important;
	-ms-transform: translate3d(-100%, 0, 0) !important;
	transform: translate3d(-100%, 0, 0) !important;
}

/*
 * 1-d. slider - bxSlider style custom
 *********************************************/
/* PAGER */
.bx-wrapper{
	position: relative;
}
.bx-wrapper .bx-controls{
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.bx-wrapper .bx-pager {
	
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #e6e6e6;
	text-indent: -9999px;
	display: block;
	width: 9px;
	height: 9px;
	margin: 4.5px;
	outline: 0;
	border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #9e5cd8;
}

/*
 * 1-e. label, badge
 *******************************************/
.badge{
	display: block;
	width: 60px;
	height: 30px;
	background-color: #9e5cd8;
	color: #fff;
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 1.333em;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
	box-shadow: 0 1px 0 rgba(24, 24, 24, 0.2);
}
a:hover .badge{
	text-decoration: none;
}

/*1-f. store item view - wide*/
.store_item{
	margin: 0 auto;
	max-width: 720px;
}
.store_item .image_view{
	z-index: 1;
	position: relative;
}
.store_item .image_view .badge{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 4.1666%;
}
.store_item .image_view .btns{
	position: absolute;
	bottom: 10px;
	left: 4.1666%;
}
.store_item .button_round{

}
.store_item .profile_image{
	float: left;
	margin-right: 5px;
}
.store_item .profile_image img{
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.store_item .text_view{
	padding: 10px 4.1666%;
}
.store_item .store_explain{
	color: #787878;
}
.store_item .store_explain strong{
	display: block;
	font-size: 16px;
	color: #323232;
}
/*
 * 2. layout
 * 2-a. header
 ********************************************/
.header_top_wrap{
	padding: 0 4.1666%;
	height: 40px;
	background-color: #9e5cd8;
}
.header_top_wrap .logo{
	float: left;
	font-size: 0;
}
.header_top_wrap .logo a{
	display: block;
	padding: 13.5px 0;
}
.header_top_wrap .button_search{
	float: right;
	padding:9.5px 0 9.5px 9px;
	width: 21.5px;
	height: 21px;
	background-position: -98px 9.5px;
}
.navigation_wrap{
	box-sizing: border-box;
	padding-top: 12.5px;
	height: 75px;
	background-color: #f5f5f5;
}
.navigation_wrap ul{
	overflow: hidden;
}
.navigation_wrap li{
	float: left;
	width: 25%;
	text-align: center;
}
.gnb_main a,
.gnb_category a,
.gnb_mypage a,
.gnb_more a{
	display: inline-block;
	width: 50px;
	height: 51px;
	background: url(../img/gnb.png) no-repeat;
	background-size: 215px 102px;
	text-indent: -9999px;
	-webkit-transition: .3s ease background-position;
	-moz-transition: .3s ease background-position;
	-ms-transition: .3s ease background-position;
	-o-transition: .3s ease background-position;
	transition: .3s ease background-position;
}
.gnb_main a{
	background-position: 0 0;
}
.gnb_category a{
	background-position: -55px 0;
}
.gnb_mypage a{
	background-position: -110px 0;
}
.gnb_more a{
	background-position: -165px 0;
}
.gnb_main a:focus, .gnb_main a:hover, .gnb_main.active a,
.gnb_category a:focus, .gnb_category a:hover, .gnb_category.active a,
.gnb_mypage a:focus, .gnb_mypage a:hover, .gnb_mypage.active a,
.gnb_more a:focus, .gnb_more a:hover, .gnb_more.active a{
	background-position-y: -51px;
}

/*
 * 2-b. footer
 *******************************************/

/*
 * 3. page - login
 *****************************************/
.login_bg{
	background:#585858 url(../img/login_full_bg.jpg) no-repeat 50% top;
	background-size: cover;
}
.content_login{
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	
	
	padding: 47.5px 11.1111% 6.3363%;
}
.content_login .title{
	width: 55.69%;
	min-width: 200px;
	margin: 0 auto 5.0943%;
	text-align: center;
}

/*로그인 플레이스홀더*/
.login_form .placeholder_wrap{
	padding: 15px 5% 15px 7.8571%;
	width: 100%;
	height: 50px;
	border: 1px solid #fff;
}
.login_form .placeholder_wrap.last{
	border-top: 0;
}
.login_form .placeholder_wrap input{
	margin-left: 4.4642%;
	width: 80%;
	height: 20px;
	border: 0;
	background-color: transparent;
	color: #fff;
	line-height: 20%;
}
.login_form .placeholder_wrap .placeholder{
	top: 17px;
	left: 17.6785%;
	color: #fff;
}

/*input password icon*/
.icon_lock{
	float: left;
	margin-top: 1px;
	width:15.5px;
	height:17.5px;
	background-position:0 0;
}
/*input mail icon*/
.icon_mail{
	float: left;
	margin-top: 3px;
	width:15px;
	height:12px;
	background-position:-20px 0;
}

/*로그인 부가기능*/
.login_additional {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #fff;
}
.login_additional a{
	color: #fff;
	text-decoration: none;
}
.login_additional .forget_password{
	float: right;
}

.other_login{
	overflow: hidden;
	margin: 33px 0 23px;
	color: #fff;
	text-align: center;
}
.other_login .before,
.other_login .after{
	float: left;
	display: inline-block;
	margin-top: 7px;
	width: 32%;
	border-top: 1px solid #fff;
	vertical-align: middle;
}
.other_login .text{
	float: left;
	width: 36%;
	font-size: 0.833em;
}
.other_login_buttons{
	overflow: hidden;
}
.other_login_buttons > a{
	float: left;
	width: 33.333333333333%;
	text-align: right;
}
.other_login_buttons > a:first-child{
	margin-left: 0;
	text-align: left;
}
.other_login_buttons > a:nth-of-type(2){
	text-align: center;
}

.content_login .buttons_center{
	margin-top: 27px;
	text-align: center;
}
.content_login .button_policy{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 29px;
	height: 29px;
	background-position: -40px 0;
	text-indent: -9999px;
}

/*
 * 3-2. page - password find
 *****************************************/
.content_password_find{
	position: absolute;
	right: -100%; /*canvas off*/
	top: 0;
	padding: 0 4.1666%;
	width: 100%;
	height: 100%;
	color: #fff;
}
.content_password_find .top_move{
	margin-bottom: 50px;
	padding-top: 32px;
	height: 67px;
	border-bottom: 1px solid #fff;
}
.content_password_find .placeholder_wrap{
	margin-bottom: 10px;
}
.content_password_find .guide{
	margin-bottom: 13px;
	line-height: 1.3;
}
.content_password_find .login_form{
	padding: 0 7.4242%;
}
.button_back{
	width: 22.5px;
	height: 19px;
	background-position: -75px 0;
	text-indent: -9999px;
}

/*
 * 4. page - main
 ***************************************/
/* main 사이트 카운팅 */
.site_using_count{
	overflow:hidden;
	box-sizing: border-box;
	padding-top: 10.5px;
	height: 50px;
	border-bottom: 1px solid #ddd;
}
.site_using_count li{
	float: left;
	width: 33.3%;
	color: #787878;
	font-size: 10px;
	font-family: "Dinmed";
	text-align: center;
	background: url(../img/main_vertical_dash_bar.png) no-repeat 0 0;
	background-size: 1px 29.5px;
}
.site_using_count li:last-child{
	width: 33.4%;
}
.site_using_count strong{
	display: block;
	color: #323232;
	font-size: 1.583em;
	line-height: 1;
}

.slider_wrap li{
	text-align: center;
}

/*메인 - 구해요*/
.main_find_wrap{
	position: relative;
	padding: 0 4.1666%;
	background-color: #f5f5f5;
}
.main_find_wrap .title{
	padding: 14px 0 9px;
	color: #323232;
	font-size: 1.333em;
}
.main_find_wrap .button_more{
	position: absolute;
	top:11px;
	right: 4.16666%;
	margin-right: -10px;
}
.main_find_wrap .find_list li{
	overflow: hidden;
	border-top: 1px solid #fff;
}
.main_find_wrap .find_list_title,
.main_find_wrap .find_list_time{
	display: block;
	float: left;
	padding: 5.5px 0 6.5px;
}
.main_find_wrap .find_list_title{
	width: 80%;
	color: #505050;
}
.main_find_wrap .find_list_time{
	width: 20%;
	text-align: right;
	color: #b4b4b4;
}
.current_time{
	display: block;
	padding: 7px 0 8px;
	border-top: 1px solid #fff;
	color: #c8c8c8;
	font-size: 0.667em;
}

/*더보기 버튼*/
.button_more{
	display: inline-block;
	width: 38px;
	height: 30px;
	background-position: -70px -20px;
}

/*이달의 베스트*/
.main_store_list .title{
	height: 40px;
	font-size: 16px;
	text-align: center;
	color: #323232;
	line-height: 40px;
}
.store_item_slider li{
	text-align: center;
}



