@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
 font-family: "나눔 고딕", "Nanum Gothic", "Malgun Gothic", sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
 margin: 0;
 color: #323232;
 line-height: 1.5;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
 display: block
}
audio, canvas, progress, video {
 display: inline-block; vertical-align: baseline;
}
audio:not([controls]) {
 display: none; height: 0;
}
[hidden], template {
 display: none
}
a {
 background-color: transparent
 text-decoration: underline;
}
a:hover{
	text-decoration: underline;
}
/*a:active, a:hover {
 outline: 0
}*/
abbr[title] {
 border-bottom: 1px dotted
}
b, strong {
 font-weight: bold
}
dfn {
 font-style: italic
}
/*h1 {
 font-size: 2em; margin: 0.67em 0;
}*/
mark {
 background: #ff0; color: #000;
}
small {
 font-size: 80%
}
sub, sup {
 font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {
 top: -0.5em
}
sub {
 bottom: -0.25em
}
img {
 border: 0;
 vertical-align: top;
}
svg:not(:root) {
 overflow: hidden
}
figure {
 margin: 1em 40px
}
hr {
 box-sizing: content-box; height: 0;
}
pre {
 overflow: auto
}
code, kbd, pre, samp {
 font-family: monospace, monospace; font-size: 1em;
}
button, input, optgroup, select, textarea {
 color: inherit; font: inherit; margin: 0;
}
button {
 overflow: visible
}
button, select {
 text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
 -webkit-appearance: button; cursor: pointer;
}
button[disabled], html input[disabled] {
 cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0; padding: 0;
}
input {
 line-height: normal
}
input[type="checkbox"], input[type="radio"] {
 box-sizing: border-box; padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
 height: auto
}
input[type="search"] {
 -webkit-appearance: textfield; box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
 -webkit-appearance: none
}
/*fieldset {
 border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;
}*/
legend {
 border: 0; padding: 0;
}
textarea {
 overflow: auto
}
optgroup {
 font-weight: bold
}
table {
 border-collapse: collapse; border-spacing: 0;
}
/*td, th {
 padding: 0
}*/
html {
	color: #323232;
	font-size: 16px;
	line-height: 1.4;
}
body{
	font-size: 0.75em;
}
hr {
	display: none;
}
audio, canvas, iframe, img, svg, video {
	vertical-align: top;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
div, input, select{
	box-sizing: border-box;
}
input, select{
	
}
ul, ol, li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, p, fieldset, button, dl, dt, dd, figure, section {
	margin: 0;
	padding: 0;
}
button {
	overflow: visible;
	border: 0;
	background-color: none;
}
a,
a:hover {
	text-decoration: none;
}
a{
	color: #323232;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"] {
	box-sizing: border-box;
	height: 50px;
	padding: 10px;
	border: 0;
	border-radius: 2px;
	color: #323232;
	line-height: 30px;
}
/*input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
	-webkit-text-fill-color: #333;
}*/
textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #d5d5d5;
}
legend {
	position: absolute;
	top: -9999px;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}
select {
	height: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 17px;
	padding-right: 8px;
	border: 1px solid #cbcbcb;
	line-height: 26px;
}

/*header*/
.header{
	overflow: hidden;
	border-bottom: 1px solid #9e5cd8;
}
/*.header .top{
	box-sizing: border-box;
	padding-top: 14px;
	height: 49px;
}*/
.header .logo{
	float: left;
	padding: 14px 20px 15px;
	line-height: 0;
}
.header .user_menu{
	float: right;
	margin-right: 15px;
	padding-top: 12px;
}
.header .user_menu a{
	display: inline-block;
	margin-left: 1px;
	padding: 2px 7px 3px; 
	border: 1px solid #c8c8c8;
	color: #323232;
	font-weight: bold;
}

.gnb_wrap{
	clear: both;
	border-top: 1px solid #c8c8c8;
}
.gnb_wrap ul{
	overflow: hidden;
}
.gnb_wrap li{
	float: left;
	width: 16.66%;
}
.gnb_wrap li a{
	box-sizing: border-box;
	display: block;
	padding-top: 21px;
	border-right: 1px solid #dcdcdc;
	width: 100%;
	height: 100px;
	color: #323232;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.gnb_wrap li a:hover,
.gnb_wrap li a:focus,
.gnb_wrap li.active a{
	background-color: #9e5cd8;
	color: #fff;
}

/*gnb icon*/
.gnb_wrap li a::before{
	content:"";
	display: block;
	margin: 0 auto 6px;
	width: 44px;
	height: 40px;
	background: url(../img/icon.png) no-repeat;
}

li.gnb_store a::before{
	background-position: 0 0;
}
li.gnb_member a::before{
	background-position: -50px 0;
}
li.gnb_manage a::before{
	background-position: -100px 0;
}
li.gnb_order a::before{
	background-position: -150px 0;
}
li.gnb_sales a::before{
	background-position: -200px 0;
}
li.gnb_calculate a::before{
	background-position: -250px 0;
}
li.gnb_setting a::before{
	background-position: -350px 0;
}
li.gnb_item a::before{
	background-position: -300px 0;
}
li.gnb_original a::before{
	background-position: -400px 0;
}

.gnb_wrap li a:hover::before,
.gnb_wrap li a:focus::before,
.gnb_wrap li.active a::before{
	background-position-y: -45px;
}

/*breadcrumbs*/
.breadcrumbs{
	box-sizing: border-box;
	padding-top: 12px;
	padding-left: 20px;
	height: 39px;
	border-bottom: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	color: #787878;
}
.breadcrumbs .current{
	color: #323232;
}
.breadcrumbs > span::after{
	content: "";
	display: inline-block;
	margin-left: 10px;
	margin-right: 8px;
	width: 5px;
	height: 9px;
	background: url(../img/bread_arrow.png) no-repeat 0 0;
}

.contents_wrap{
	position: relative;
	overflow: hidden;
	padding-left: 200px;
	-webkit-transition: padding-left 0.1s linear; /* Safari */
    transition: padding-left 0.1s linear;
}
.contents_wrap.toggle_snb{
	padding-left: 0;
	-webkit-transition: padding-left 0.1s linear; /* Safari */
    transition: padding-left 0.1s linear;
}
.contents_wrap.toggle_snb .snb_wrap .inner{
	display: none;
}
.contents_wrap.toggle_snb .button_snb_toggle{
	background-position: -19px 0;
}

/*sub menu*/
.snb_wrap{
	position: absolute;
	top: 0;
	left: 0;
}
.snb_wrap .inner{
	position: relative;
	width: 200px;
}
.snb_wrap .title_h2{
	padding: 29px 0; 
	background-color: #9e5cd8;
	font-size: 28px;
	color: #fff;
	text-align: center;
}
.snb{
	border-right: 1px solid #c8c8c8;
}
.snb > li{
	border-bottom: 1px solid #c8c8c8;
}
.snb li a{
	padding-top: 16px;
	padding-bottom: 15px;
}
.snb > li > a{
	font-weight: bold;
}
.snb ul{
	padding: 12px 0;
	border-top: 1px solid #c8c8c8;
	background-color: #f5f5f5;
}
.snb ul li a{
	padding-top: 6px;
	padding-bottom: 5px;
}
.snb a{
	display: block;
	padding-left: 20px;
	font-size: 14px;
	color: #323232;
}
.snb a:hover{
	text-decoration: underline;
}
.snb a.active,
.snb a:focus{
	color: #9E5CD8;
}
.button_snb_toggle{
	position: absolute;
	top: 10px;
	right: -19px;
	width: 19px;
	height: 40px;
	background: url(../img/button_snb.png) no-repeat 0 0;
	text-indent: -9999px;
}

/*contents*/
.contents{
	float: left;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
}
.title_h3{
	padding-top: 22px;
	padding-bottom: 12px;
	font-size: 24px;
	font-weight: normal;
}

/*button style*/
.button{
	padding: 8px 18px;
	border-radius: 4px;
	border: 1px solid #c8c8c8;
	background-color: #fff;
}

.button.mini{
	padding-left: 7px;
	padding-right: 7px;
	line-height: 1.2;
}
.button.big{
	font-size: 16px;
	font-weight: bold;
}

.button.gray{
	color: #787878;
}
.button.purple{
	border-color: #9e5cd8;
	background-color: #9e5cd8;
	color: #fff;
}

.button.arrow_gray::before{
	content: "";
	display: inline-block;
	margin-right: 3px;
	width: 12px;
	height: 8px;
	background: url(../img/order_arrow_gray.png) no-repeat 0 0;
}
.button.arrow_red::before{
	content: "";
	display: inline-block;
	margin-right: 3px;
	width: 12px;
	height: 8px;
	background: url(../img/order_arrow_red.png) no-repeat 0 0;
}
.button.search::before{
	content: "";
	display: inline-block;
	margin-top: 3px;
	margin-right: 3px;
	width: 17px;
	height: 16px;
	background: url(../img/search.png) no-repeat 0 0;
	vertical-align: top;
}

/*paging*/
.paging {
	overflow: hidden;
	margin-top: 40px;
	line-height: 32px;
	text-align: center;
}
.paging a, .paging strong {
	display: inline-block;
	width: 33px;
	height: 33px;
	border: 1px solid #ddd;
	vertical-align: middle;
	font-weight: bold;
	font-family: "tahoma";
	font-size: 11px;
	background-color: #f6f6f6;
}
.paging span {
	font-size: 0;
	text-indent: -999px;
}
.paging strong, .paging a:hover {
	background-color: #9e5cd8;
	color: #fff;
	border: 1px solid #8949c1;
	vertical-align: top;
}
.paging .first:hover, .paging .prev:hover, .paging .next:hover, .paging .last:hover {
	background-color: #fff;
	border-color: #ddd;
}
.paging .prev, .paging .last {
	margin-left: -5px;
}
.paging .prev {
	margin-right: 16px;
}
.paging .next {
	margin-left: 16px;
}

/*board*/
.board{
	margin-top: 10px;
	width: 100%;
	border-top: 1px solid #4f4954;
}
.board th{
	padding: 9px 0 8px;
	background-color: #f5f5f5;
	color: #323232;
	font-size: 14px;
}
.board th,
.board td{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
}
.board.center td{
	text-align: center;
}

.board.left th,
.board.left td{
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

.board a{
	color: #3F3494;
}

.page_manager_login{
	background-color: #373447;
}
.login_wrap{
	position: relative;
	box-sizing: border-box;
	margin: 290px auto 0;
	padding: 63px 115px 73px;
	width: 554px;
	border: 2px solid #4b495a;
	border-radius: 7px;
}
.login_wrap .title{
	position: absolute;
	top: -24px;
	left: 95px;
	padding: 0 10px;
	background-color: #373447;
}
.login_wrap input{
	margin-top: 10px;
	padding-left: 19px;
	width: 100%;
	height: 60px;
	border-radius: 7px;
	font-size: 16px;
	font-weight: bold;
}
.login_wrap .button_login{
	margin-top: 10px;
	width: 100%;
	height: 60px;
	border-radius: 7px;
	background-color: #9e5cd8;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}